/* FONTS */

@mixin h1() {
    font-weight: $semibold-weight;
    font-style: italic;
    color: $color-base-background;
    font-size: nth($font-size, 5);
    line-height: inherit;
    max-width: 75%;
    margin: 0;
}

@mixin h2($font-size) {
    font-size: $font-size;
    color: $color-base;
    font-weight: $black-weight;
}

@mixin h3($font-weight) {
    font-size: nth($font-size, 4);
    color: $color-base;
    font-weight: $font-weight;
} 

@mixin h5() {
    font-size: nth($font-size, 3);
    text-align: center;
    font-weight: $black-weight;
    color: $color-base;
}

/* BOUTON */
@mixin btn_redirection($color:$color-base) {
    border: solid 2px $color;
    background-color: transparent;
    padding: 5px 25px;;
    & a {
        color: $color;
        font-weight: $bold-weight;
    }
    & a:hover {
        text-decoration: none;
    }
}

/* FORMULAIRE */

@mixin placeholder ($color:$color-base) {
    font-style: italic;
    color: $color;
}

/* MISE EN PAGE */
@mixin row() {
    display: flex;
    flex-direction: row;
}

@mixin row_center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin column() {
    display: flex;
    flex-direction: column;
}

@mixin column_center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

