// COULEURS
$color-base: rgb(25, 25 ,25); //noir
$color-primary: rgb(211, 108, 60); // orange
$color-secondly: rgb(194, 79, 43); // orange foncé
$color-thirdly: rgb(250, 186, 94); // orange clair
$color-fourth: rgb(99, 48, 38); // brun

// TYPOGRAPHIES
$font-family: 'Neris', Arial, sans-serif;
$font-weight: 400 bold;
$font-size: 0.5rem 1rem 1.5rem 2rem; 