/* VERSION DESKTOP & STYLE GÉNÉRAL */
    /* PAGE 404 */
    .page__404 {
        @include wrapper_mobile();
        @include column_center();
        padding-top: 3rem;
        /* TEXTE 404 */
        & .txt__404 {
            @include column_center();
            padding-top: 3rem;
            padding-bottom: 2rem;
            width: 115%;
            /* TITRE */
            & h2 {
                font-size: 3rem;
                text-align: center;
            }
            /* SOUS-TITRE */
            & h4 {
                font-size: 1.3rem;
                padding-top: 1rem;
            }
        }
        /* BOUTON REDIRECTION */
        & .btn_redirection {
            & button {
                @include btn-redirection();
            }
            & button:hover {
                @include btn_redirection_hover();
            }
        }
    }

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* PAGE 404 */
    .page__404 {
        @include wrapper_mobile();
        padding-top: 8rem;
        /* TEXTE 404 */
        & .txt__404 {
            /* TITRE */
            & h2 {
                font-size: 1.8rem;
            }
        }
    }
}

/* VERSION TABLETTE (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE 404 */
    .page__404 {
        @include wrapper_tablette();
    }
}