/* VERSION DESKTOP & STYLE GÉNÉRAL */
    /* PAGE ABONNEMENT */
    .page__abonnement {
        @include wrapper();
        @include column_center();
        /* IMAGE ABONNEMENT */
        /* TEXTE ABONNEMENT */
        & .txt__abonnement {
            @include column_center();
            padding-top: 3rem;
            padding-bottom: 2rem;
            /* TITRE */
            & h2 {
                font-size: 3rem;
                text-align: center;
            }
            /* SOUS-TITRE */
            & h4 {
                font-size: 1.3rem;
                padding-top: 1rem;
                width: 49%;
                text-align: center;
                line-height: 1.8rem;
            }
        }
        /* BOUTON REDIRECTION */
        & .btn__redirection {
            & button {
                @include btn-redirection();
            }
            & button:hover {
                @include btn_redirection_hover();
            }
        }
    }

/* VERSION MOBILE (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* PAGE ABONNEMENT */
    .page__abonnement {
        @include wrapper_mobile();
        margin-bottom: 2rem;
        padding-top: 7rem;
        /* IMAGE ABONNEMENT */
        & .img__abonnement {
            @include row_center();
            & img {
                width: 90%;
            }
        }
        /* TEXTE ABONNEMENT */
        & .txt__abonnement {
            /* TITRE */
            & h2 {
                font-size: 2rem;
            }
            /* SOUS-TITRE */
            & h4 {
                width: 90%;
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
        /* BOUTON REDIRECTION */
    }
}

/* VERSION TABLETTE (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE ABONNEMENT */
    .page__abonnement{
        margin-top: 11rem;
        @include wrapper_tablette();
        margin-bottom: 4rem;
        /* IMAGE ABONNEMENT */
        /* TEXTE ABONNEMENT */
        & .txt__abonnement {
            /* TITRE */
            & h2 {
                font-size: 2rem;
            }
        }
        /* BOUTON REDIRECTION */
    }
}