/* PAGE ABONNEMENT */
.page__abonnement {
    @include wrapper();
    @include column_center();
    /* TEXTE ABONNEMENT */
    & .txt__abonnement {
        @include column_center();
        padding-top: 3rem;
        padding-bottom: 2rem;
        /* TITRE */
        & h2 {
            font-size: 3rem;
            text-align: center;
        }
        /* SOUS-TITRE */
        & h4 {
            font-size: 1.3rem;
            padding-top: 1rem;
            width: 60%;
            text-align: center;
            line-height: 1.8rem;
        }
    }
    /* BOUTON REDIRECTION */
    .btn_redirection {
        & button {
            @include btn-redirection();
        }
        & button:hover {
            @include btn_redirection_hover();
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* PAGE ABONNEMENT */
    .page__abonnement {
        @include wrapper_mobile();
        /* IMAGE ABONNEMENT */
        & .img__abonnement {
            @include row_center();
            & img {
                width: 90%;
            }
        }
    }
}

/* TABLETTE (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE ABONNEMENT */
    .page__abonnement{
        margin-top: 9rem;
    }
}