/* PAGE CONTACT */
.site__contact {
    @include wrapper();
    height: 700px;
    /* FORMULAIRE NEWSLETTER */
    & .bloc__news, .bloc__contact {
        /* FORMULAIRE */
        & form {
            align-items: flex-end;
            /* TITRE */
            & h2 {
                padding-bottom: 1rem;
            }
            /* TEXTE */
            & p {
                width: 100%!important;
                margin-bottom: 0;
            }
            /* CARACTÉRISTIQUE GÉNÉRALE DU FORMULAIRE */
            & input, textarea {
                background-color: #ececece6;
                border: $border-none;
                padding: 0.3rem 1rem;
                margin-top: 1rem;
                width: 100%;
                border-radius: 6px;
            }
            /* PLACEHOLDER */
            & input::placeholder, textarea{
                color: $color-base;
                font-style: italic;
            }
            /* ZONE DE TEXTE*/
            & textarea {
                height: nth($height, 5);
                border-radius: 6px;
            }
            /* BOUTON ENVOYÉ */
            & input[type=submit] {
                @include btn_formulaire();
                margin-left: 0rem;
                width: 150px;
                height: 100%;
            }
            /* BOUTON ENVOYÉ HOVER */
            & input[type=submit]:hover {
                background-color: $color-fourth;
            }
        }
    }
    /* FORMULAIRE NEWSLETTER */
    .mailjet_widget_front_container {
        margin: 0;
        & #mailjetSubscriptionForm {
            @include row_center();
            & #mailjet_widget_email {
                width: 575px;
            }
            & .mailjet-widget-form-group{
                margin: 0;
            }
        }
    }
    /* LIGNE */ 
    .ligne {
        @include row_center();
        & hr {
            width: nth($width, 2);
            border: 1px solid $color-base;
            margin: 3rem 0;
        }
    }
    /* SOUS-TITRE */
    & h5 {
        font-weight: $bold-weight;
        font-size: nth($font-size, 3);
        width: nth($width, 4);
        padding-bottom: 1rem;
        text-align: start;
        margin-bottom: 0;
    }
    & .wpcf7 form .wpcf7-response-output, .wpcf7-response-output {
        margin: 0;
        border: none;
        padding: 0;
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* PAGE CONTACT */
    .site__page__contact {
        width: 380px;
        padding: 1rem;
        margin-bottom: 0;
        .site__news, .site__contact {
            /* FORMULAIRE */
            & form { 
                @include column_center();
                align-items: center;
                /* TITRE */
                & h2 {
                    width: 360px;
                    font-size: 1.4rem;
                    padding-bottom: 0;
                }
                /* FORMULAIRE NEWSLETTER */
                & .form__news__input {
                    width: 360px;
                    justify-content: center;
                }
                /* Caractérstique générale formulaire */
                & input, textarea {
                    width: 100%;
                }
                /* Champ nom */
                & .name__input {
                    padding-top: 0 !important;
                }
            }
        }
        /* Ligne */
        .ligne { 
            width: 100%;
            & hr {
            width: 100%;
            margin: 2rem 0;
            margin-bottom: 3rem;
            }
        }
        /* Sous-titre */
        & h5 {
            display: none;
        }
    }
    /* CONTACT */
    .site__contact {
        /* Bloc image */
        & .bloc__image {
            order: 4;
            /* Image */
            & img {
                width: 100%;
                margin-top: 3rem;
            }
        }
        /* Bloc texte et formulaire */
        .bloc__texte__form {
            padding-right: 15px !important;
        }
    }
}