/* SECTION 1 : INTRODUCTION */
.home__intro {
    background-color: $color-primary;
    height: nth($height, 3);
    & .row {
        height: nth($height, 5);
    }
}
    /* BLOC IMAGE */
    .home__bloc__img {
        position: relative;
        @include row_center();
        justify-content: flex-end;
        /* Forme image */
        & .forme__img__gauche {
            position: absolute;
        }
        /* Intro image */
        & .forme__img__center {
            z-index: 10;
            margin-right: 4rem;
        }
        /* Forme image */ 
        & .forme__img__droite {
            position: absolute;
            z-index: 11;
        }
    }
    /* BLOC TEXTE */
    .home__bloc__txt {
        @include column_center();
        align-items: flex-start;
        & p {
            font-size: nth($font-size, 2);
            font-weight: $semibold-weight;
            max-width: 44%;
            margin: 1.5rem 0;
        }
        /* BOUTON REDIRECTION */
        & .bloc__btn button a {
            font-weight: $semibold-weight;
            & i {
                font-size: nth($font-size, 1)
            }
        } 
    }

/* SECTION 2 : PRESENTATION POUPÉES */
.poupees__presentation {
    height: nth($height, 4);
    @include row_center();
}
    /* BLOC FORMES */
    .poupees__presentation__formes {
        position: relative;
        width: nth($width, 5);
        /* Forme left */
        & .forme__left {
            position: absolute;     
        }
        /* Forme right */
        & .forme__right {
            position: absolute;
        }
    }
    /* BLOC ILLUSTRATION */
    .poupee__presentation__illustration {
        /* Illustration right */
        & .illustration__img__right {
            @include row();
            justify-content: flex-end;
            padding-right: 4rem;
            & img {
                width: nth($width, 2);
            }
        }
        /* Texte right */
        & .illustration__txt__right {
            @include row_center();
            justify-content: flex-start;
        }
        /* Texte left */
        & .illustration__txt__left {
            @include row_center();
            justify-content: flex-end;
            & h3 {
                text-align: right;
            }
        }
        /* Illustration left */
        & .illustration__img__left {
            @include row();
            justify-content: flex-start;
            padding-left: 4rem;
            & img {
                width: nth($width, 2);
            }
        }

    }

/* SECTION 3 : SHOP SLIDER */
.shop, .collaborateurs {
    height: nth($height, 3);
    @include column();
    justify-content: center;
}
    /* Titre et redirection */
    .shop__titre, .collaborateurs__titre {
        @include row();
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: 2.5rem;
        margin-bottom: 2.5rem;
        & button a i {
            font-size: nth($font-size, 3);
        }
    }
    /* SLIDER */
    .slider__wrapper {
        min-width: 110vw;
        display: grid;
        overflow-x: scroll;
        grid-template-columns: repeat(6, auto);
        column-gap: 30px;
        flex-wrap: nowrap;
        margin-left: 2.5rem;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .slider__wrapper::-webkit-scrollbar {
        display: none;
    }
    /* CARD */
    .card__shop {
        position: relative;
        /* Nom produit */
        & h5 {
            padding-top: 2rem;
        }
        /* Bouton panier */
        & .shop__panier {
            background-color: $color-primary;
            color: $color-base-background;
            padding: 0.8rem;
            width: nth($width, 1);
            @include row_center();
            position: absolute;
            bottom: 19.9%;
            right: 0;
        }
    }
    /* CARD VIDE */ 
    .empty {
        width: 1rem;
    }

/* SECTION 4 : COLLABORATEURS */
.collaborateurs {
    & .slider__wrapper {
        column-gap: 0;
        grid-template-columns: repeat(6, 250px);
    }
}   
    /* Liste des collaborateurs */
    .liste__collaborateurs {
        /* Collaborateur */
        & .collaborateur {
            text-align: center;
            width: 200px;
            border-bottom: none;
            padding: 2rem 0;
            position: relative;
        }
            & h4 {
                padding-top: 2rem;
                font-size: nth($font-size, 1);
            }
            & p {
                font-weight: $bold-weight;
                font-size: nth($font-size, 1);
                line-height: 1.1rem;
            }
                & p span {
                    font-style: italic;
                    font-weight: $medium-weight;
                }
            & .more__round .fa {
                border: 2px solid $color-base;
                border-radius: 100%;
                width: 18%;
                padding: 0.5rem;
                position: absolute;
                bottom: 0;
                left: 40%;
            }
    }

/* DESKTOP AND LAPTOPS */
@media only screen and (min-width : 1224px) {
    /* SECTION 1 : INTRODUCTION */
    
    /* Bloc image */
    .home__bloc__img {
        /* Forme image */
        & .forme__img__gauche {
            top: 20%;
            left: 37%;
        }
        /* Intro image */
        & .forme__img__center {
            width: 53%;
        }
        /* Forme image */
        & .forme__img__droite {
            right: 16%;
            bottom: 15%;
        }
    }
    
    /* SECTION 2 : PRÉSENTATION POUPÉES */
    
    /* Bloc formes */
    .poupees__presentation__formes {
        /* Forme left */
        & .forme__left {  
            bottom: 5%;
            left: -5%;
        }
        /* Forme right */
        & .forme__right {
            top: 20%;
            right: -6%;
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* SECTION 1 : INTRODUCTION */
    .home__intro {
        height: 100vh;
    }
        /* Bloc image*/
        .home__bloc__img {
            /* Forme image */
            & .forme__img__droite {
                right: 15%;
                bottom: 10%;
                width: 28%;
            }
            /* Intro image */
            & .forme__img__center {
                width: 70%;
            }
            /* Forme image */
            & .forme__img__gauche {
                top: 17%;
                left: 12%;
                width: 25%;
            }
        }
        /* Bloc texte*/
        .home__bloc__txt {
            align-items: center;
            & h1 {
                font-size: nth($font-size, 4);
                font-weight: $medium-weight;
                text-align: center;
                max-width: 90%;
                height: 24%;
            }
            & p {
                text-align: center;
                max-width: 78%;
                font-size: nth($font-size, 1);
            }
        }
    /* SECTION 2 : PRÉSENTATION POUPÉES */
    .poupees__presentation {
        max-width: 100vw;
        padding: 0;
        height: nth($height, 1);
    }
    /* Bloc formes */
    .poupees__presentation__formes {
        /* Forme Left */
        & .forme__left {
            bottom: 40%;
            left: -11%;
        }
        /* Forme Right */
        & .forme__right {
            top: 19%;
            right: -28%;
        }
        /* Images */
        & .forme__left img, .forme__right img {
            width: 60%;
        }
    }
    /* Bloc illustration */
    .poupee__presentation__illustration {
        width: nth($width, 5);
        margin: 0;
        /* Illustration Right et Left */
        & .illustration__img__right, .illustration__img__left {
            width: nth($width, 3);
            padding: 1.5rem;
            & img {
                width: nth($width, 5);
            } 
        }
        /* Texte Right et Left */
        & .illustration__txt__right, .illustration__txt__left {
            padding: 2rem 0;
            width: nth($width, 3); 
            & h3 {
                font-size: 1.2rem;
            }
        }
    }
    /* SECTION 3 : SHOP */
    .shop, .collaborateurs {
        margin-bottom: 0;
        padding: 0;
        height: nth($height, 2);
    }
        /* Titre et redirection */
        .shop__titre, .collaborateurs__titre {
            margin-left: 2.5rem;
            margin-right: 2rem;
            @include row();
            align-items: flex-end;
            justify-content: space-between;
            & h2 {
                margin: 0;
            }
            & button {
                padding: 5px;
                & a i {
                    font-size: nth($font-size, 1);
                }
            }
        }
        /* CARD */
        .card__shop {
            min-width: 244px;
        }
    /* SECTION 4 : COLLABORATEURS */
    .liste__collaborateurs .collaborateur {
        height: nth($height, 1);
        padding: 1.5rem 0;
    }
}
