#metabox_collaborateur .inside {
    @include column();
}
.site__home {
    /* SECTION 1 : SLIDER HOME */
    /* c.f. : _sliderHome.scss */

    /* SECTION 2 : INTRODUCTION */
    & .home__intro {
        background-color: $color-primary;
        height: nth($height, 3);
        & .bloc__introduction {
            height: nth($height, 5);
            /* BLOC IMAGE */
            & .home__bloc__img {
                position: relative;
                @include row_center();
                justify-content: flex-end;
                /* Forme image */
                & .forme__img__gauche, .forme__img__droite  {
                    position: absolute;
                }
                /* Intro image */
                & .forme__img__center {
                    z-index: 10;
                    margin-right: 4rem;
                }
                /* Forme image droite */
                .forme__img__droite {
                    z-index: 11;
                }
            }
            /* BLOC TEXTE */
            & .home__bloc__txt {
                @include column_center();
                align-items: flex-start;
                & p {
                    font-size: nth($font-size, 2);
                    font-weight: $semibold-weight;
                    max-width: 44%;
                    margin: 1.5rem 0;
                }
                /* BOUTON REDIRECTION */
                & .bloc__btn button a {
                    font-weight: $semibold-weight;
                    & i {
                        font-size: nth($font-size, 1)
                    }
                } 
            }
        }
    }

    /* SECTION FINANCEMENT */
    .home__financement {
        height: 400px;
        background-color: $color-fourth;
        position: relative;
        @include row_center();
        margin: auto;
        & .forme__img__left, .forme__img__right {
            position: absolute;
        }
        & .forme__img__left {
            top: 10%;
            left: -1%;
        }
        & .forme__img__right {
            bottom: 10%;
            right: -1%;
        }
        & .bloc__txt {
            @include column();
            justify-content: space-between;
            height: 70%;
            width: 33%;
            & h2, p {
                color: $color-base-background;
            }
            & .btn_redirection {
                button {
                    @include btn-redirection($color:$color-base-background);
                }
                button:hover {
                    background-color: $color-base-background;
                    & a {
                        color: $color-fourth;
                    }
                }
            }

        }
        & .bloc__img {
            width: 21%;
            margin: 0 2.5rem;
            @include row_center;
            justify-content: flex-end;
        }
    }

    /* SECTION : SHOP ET COLLABORATEURS */
    & .shop, .collaborateurs {
        max-width: 900px;
        height: 450px;
        @include column();
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        & .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
            display: block !important;
        }
        /* Titre et redirection */
        & .shop__titre, .collaborateurs__titre {
            @include row_center();
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-left: 4rem;
            margin-bottom: 2.5rem;
            width: 100%;
            /* Bouton redirection */
            & button a i {
                font-size: nth($font-size, 3);
            }
        }
        .card__shop {
            max-width: 260px;
        }
    }

    /* SECTION 3 : SHOP */

    /* SECTION 4 : COLLABORATEURS */
    & .collaborateurs {
        & .slider__wrapper {
            margin-left: 4rem;
            width: 100%;
        }
    }
} 
        

/* DESKTOP AND LAPTOPS */
@media only screen and (min-width : 1224px) {
    /* SECTION 1 : INTRODUCTION */
    
    /* Bloc image */
    .home__bloc__img {
        /* Forme image */
        & .forme__img__gauche {
            top: 20%;
            left: 37%;
        }
        /* Intro image */
        & .forme__img__center {
            width: 53%;
        }
        /* Forme image */
        & .forme__img__droite {
            right: 16%;
            bottom: 15%;
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* SECTION 2 : INTRODUCTION */
    .home__intro {
        height: 100vh;
    }
        /* Bloc image*/
        .home__bloc__img {
            /* Forme image */
            & .forme__img__droite {
                right: 15%;
                bottom: 10%;
                width: 28%;
            }
            /* Intro image */
            & .forme__img__center {
                width: 70%;
            }
            /* Forme image */
            & .forme__img__gauche {
                top: 17%;
                left: 12%;
                width: 25%;
            }
        }
        /* Bloc texte*/
        .home__bloc__txt {
            align-items: center;
            & h1 {
                font-size: nth($font-size, 4);
                text-align: center;
                max-width: 90%;
                height: 24%;
            }
            & p {
                text-align: center;
                max-width: 78%;
            }
        }

    /* SECTION 3 : SHOP */
    .shop, .collaborateurs {
        margin-bottom: 0;
        padding: 0;
        height: nth($height, 2);
    }
        /* Titre et redirection */
        .shop__titre, .collaborateurs__titre {
            margin-left: 2.5rem;
            margin-right: 2rem;
            @include column();
            align-items: flex-start;
            & h2 {
                margin: 0;
                margin-bottom: 0.5rem;
            }
            & button {
                padding: 5px 17px;
                & a i {
                    font-size: nth($font-size, 1);
                }
            }
        }
        /* CARD */
        .card__shop {
            min-width: 244px;
        }
    /* SECTION 4 : COLLABORATEURS */
    .liste__collaborateurs .collaborateur {
        height: nth($height, 1);
        padding: 1.5rem 0;
    }
}
