/* VERSION DESKTOP & STYLE GÉNÉRAL */
    /* PAGE TEMPLATE MAINTENANCE */
    .page-template-maintenance {
        overflow: hidden;
        /* HEADER */
        & .site__header {
            display: none;
        }
        /* PAGE MAINTENANCE */
        & .page__maintenance {
            height: 100vh;
            position: relative;
            background-image: url("assets/images/07_images/maintenance_forme.png");
            background-repeat: no-repeat;
            /* FORMES */
            & .forme {
                position: absolute;
            }
            /* FORME IMAGE RIGHT */
            & .forme__img__right {
                top: -5%;
                left: 86%;
            }
            & .forme__img__right2 {
                bottom: 10%;
                right: 1%;
            }
            & .forme__img__right3 {
                top: 28%;
                right: 16%;
            }
            /* FORME IMAGE LEFT */
            & .forme__img__left {
                top: -4%;
                left: 2%;
                width: 15%;
            }
            & .forme__img__left2 {
                bottom: 45%;
                left: 15%;
            }
            & .forme__img__left3 {
                bottom: 4%;
                left: 4%;
            }
            /* CONTAINER MAINTENANCE */
            & .container__maintenance {
                height: 100%;
                /* BLOC MAINTENANCE */
                & .bloc__maintenance {
                    height: 85%;
                    @include column_center();
                    & .logo__poupees {
                        @include row_center();
                        & img {
                            width: 25%;
                        }
                    }
                    /* TEXTE MAINTENANCE */
                    & .txt__maintenance {
                        padding: 3rem 0;
                        @include row_center();
                        & h2 {
                            font-size: 2.5rem;
                            text-align: center;
                        }
                    }
                    /* BOUTON REDIRECTION */
                    & .btn__redirection {
                        & button {
                            @include btn-redirection();
                        }
                    }
                    /* BOUTON REDIRECTION:HOVER */
                    & .btn__redirection button:hover {
                        @include btn_redirection_hover();
                    }
                }
                /* MENTIONS */
                & .mentions__maintenance {
                    height: 10%;
                    p {
                        text-align: center;
                        font-size: 1rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

/* MOBILE (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    /* PAGE TEMPLATE MAINTENANCE */
    .page-template-maintenance {
        /* PAGE MAINTENANCE */
        & .page__maintenance {
            background-image: url("assets/images/07_images/maintenance_forme_mobile.png");
            background-size: 80%;
            background-position: center;
            /* FORMES */
            & .forme {
                width: 20%;
            }
            & .forme__img__right, .forme__img__right2 {
                display: none;
            }
            & .forme__img__right3 {
                top: 50%;
                right: -12%;
            }
            & .forme__img__left {
                top: -1%;
                left: 12%;
                width: 30%;
            }
            & .forme__img__left2 {
                bottom: 59%;
                left: -7%;
            }
            & .forme__img__left3 {
                bottom: 19%;
                left: -13%;
            }
            /* CONTAINER MAINTENANCE */
            & .container__maintenance {
                @include column_center();
                /* BLOC MAINTENANCE */
                & .bloc__maintenance {
                    height: 90%;
                    & .txt__maintenance {
                        & h2 {
                            font-size: 2rem;
                        }
                    }
                    & .logo__poupees {
                        & img {
                            width: 50%;
                        }
                    }
                    & .btn__redirection button a {
                        font-size: 1rem;
                    }
                }
                /* MENTIONS */
                & .mentions__maintenance {
                    width: 65%;
                    height: 10%;
                    & p {
                        height: 100%;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

/* TABLETTE (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE TEMPLATE MAINTENANCE */
    .page-template-maintenance {
        overflow: hidden;
        /* PAGE MAINTENANCE */
        & .page__maintenance {
            background-position: top;
            /* FORMES */
            & .forme {
                width: 15%;
            }
            & .forme__img__right {
                top: -2%;
                left: 75%;
            }
            & .forme__img__right2 {
                bottom: 20%;
                right: -2%;
            } 
            & .forme__img__right3 {
                top: 34%;
                right: -9%;
            }
            & .forme__img__left {
                top: -2%;
                left: 6%;
                width: 25%;
            }
            & .forme__img__left2 {
                bottom: 50%;
                left: -5%;
            }
            & .forme__img__left3 {
                bottom: 11%;
                left: -10%;
            }
            /* CONTAINER MAINTENANCE */
            & .container__maintenance {
                & .bloc__maintenance {
                    height: 85%;
                    & .logo__poupees {
                        width: 45%;
                        & img {
                            width: 75%;
                        }
                    }
                    & .txt__maintenance {
                        padding: 5rem 0;
                        & h2 {
                            font-size: 3rem;
                            width:80%;
                        }
                    }
                    & .btn__redirection {
                        & button a {
                            font-size: 1.5rem;
                        }
                    }
                }
                /* MENTIONS */
                & .mentions_maintenance {
                    height: 5%;
                    & p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}