/* COLLABORATEURS */
.site__collaborateurs {
    @include wrapper();
    margin-top: 12rem;
    /* TITRE */
    & .collaborateurs__titre {
        margin: 0;
    }
    /* BLOC REMERCIEMENT */
    & .remerciement {
        @include column();
        margin: 4rem 0;
        & h5 {
            font-weight: $black-weight;
            font-style: italic;
            font-size: 1.1rem;
            text-align: start;
        }
    }
}
/* COLLABORATEUR */
.collaborateur {
    border-bottom: 0.1px solid $color-base;
    padding: 4rem 0;
    /* BLOC IMAGE */
    & .collaborateur__img {
        @include row();
        align-items: flex-start;
        justify-content: center;
        & img {
            width: 100%;
        }
    }
    /* BLOC TEXTE */
    & .collaborateur__txt { 
        @include column();
        align-items: flex-start;
        justify-content: center;
        padding-top: 1rem;
        /* CONTENU AVANT L'INPUT */
        & .before__input {
            height: 100%;
            /* TYPE */
            & h4 {
                font-size: nth($font-size, 2);
                font-weight: $normal-weight;
            }
            /* NOM */
            & p {
                line-height: 1.9rem;
                padding-top: 1rem;
                font-weight: $black-weight;
                font-size: nth($font-size, 4);
                /* SPECIALITÉ */
                & span {
                    font-weight: $normal-weight;
                    font-style: italic;
                    font-size: nth($font-size, 3);
                }
            }
        }
    }
    /* CONTENU EN SAVOIR PLUS */
    & .more__collaborateur {
        & p {
            font-size: nth($font-size, 2);
            font-weight: $normal-weight;
            & a {
                font-weight: $semibold-weight;
                color: $color-base;
            }
            & a:hover {
                color: $color-primary;
                text-decoration: none;
            }
        }
        & .site, .contact {
            margin: 0;
        }
    }
    /* BOUTON EN SAVOIR PLUS/EN SAVOIR MOINS */
    & input {
        background-color: transparent;
        border: $border-none;
        color: $color-base;
        font-weight: $semibold-weight;
        margin-top: 1rem;
    }
}
/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* COLLABORATEURS */
    .site__collaborateurs {
        @include wrapper_mobile();
        padding: 0;
        margin-top: 7rem;
        /* TITRE */
        & .collaborateurs__titre h2 {
            text-align: center;
            width: 100%;
        }
        /* COLLABORATEUR */
        & .collaborateur {
            padding: 2rem 0;
            margin: auto;
            /* Bloc image */
            & .collaborateur__img img{
                width: 70%;
            }
            /* Bloc texte */
            & .collaborateur__txt {
                text-align: center;
                align-items: center;
            }
            /* Contenu en savoir plus */
            & .more__collaborateur p {
                text-align: start;
            }
        }
        /* BLOC REMERCIEMENT */
        & .remerciement {
            align-items: center;
            & p {
                width: 80%;
                text-align: center;
            }
        }
    }
}

/* TABLETTE (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* COLLABORATEURS */
    .site__collaborateurs {
        @include wrapper_tablette();
        & .collaborateur {
            padding: 2.5rem 0;
            & .collaborateur__img {
                width: 40%;
                & img {
                    width: 90%;
                }
            }
            & .collaborateur__txt {
                width: 60%;
                & .before__input {
                    padding-top: 1rem;
                }
            }
        }
        & .remerciement {
            align-items: center;
        }
    }
}