.site__partner{
    max-width: 950px;
    & .collaborateurs__titre {
        margin-bottom: 0rem;
    }
}

.collaborateur {
    border-bottom: 0.1px solid $color-base;
    padding: 4rem 0;
    & .collaborateur__img {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    & .collaborateur__txt h4 {
        font-size: nth($font-size, 2);
        font-weight: $normal-weight;
    }
    & .collaborateur__txt p {
        line-height: 1.5rem;
        padding-top: 1rem;
        font-weight: $black-weight;
        font-size: nth($font-size, 4);
    }
    & .collaborateur__txt p span {
        font-weight: $normal-weight;
        font-style: italic;
        font-size: nth($font-size, 3);
    }
}

.collaborateur input {
    background-color: transparent;
    border: $border-none;
    color: $color-base;
    font-weight: $semibold-weight;
}

.collaborateur .more__collaborateur{
    & p {
        font-size: nth($font-size, 2);
        font-weight: $normal-weight;
    }
    & a {
        font-weight: $semibold-weight;
        color: $color-base;
    }
}

.collaborateur__last {
    border-bottom: $border-none;
}