/* SECTION 0 : PRESENTATION COLLABORATEURS */
.site__partner{
    max-width: 830px;
    margin-top: 3.5rem;
    /* TITRE : LES COLLABORATEURS */
    & .collaborateurs__titre {
        margin: 0;
    }
}
/* CARD COLLABORATEUR */
.collaborateur {
    border-bottom: 0.1px solid $color-base;
    padding: 4rem 0;
    /* Bloc image */
    & .collaborateur__img {
        @include row();
        justify-content: flex-start;
        align-items: flex-start;
        & img {
            width: 100%;
        }
    }
    /* Bloc texte */
    & .collaborateur__txt { 
        @include column();
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1rem;
        & .before__input {
            & h4 {
                font-size: nth($font-size, 2);
                font-weight: $normal-weight;
            }
            & p {
                line-height: 1.9rem;
                padding-top: 1rem;
                font-weight: $black-weight;
                font-size: nth($font-size, 4);
                & span {
                    font-weight: $normal-weight;
                    font-style: italic;
                    font-size: nth($font-size, 3);
                }
            }
        }
    }
    /* En savoir plus */
    & input {
        background-color: transparent;
        border: $border-none;
        color: $color-base;
        font-weight: $semibold-weight;
    }
    /* Contenu en savoir plus */
    & .more__collaborateur {
        & p {
            font-size: nth($font-size, 2);
            font-weight: $normal-weight;
            & a {
                font-weight: $semibold-weight;
                color: $color-base;
            }
            & a:hover {
                color: $color-primary;
                text-decoration: none;
            }
        }
    }
}

.remerciement {
    @include column();
    margin: 4rem 0;
    & h5 {
        font-weight: $black-weight;
        font-style: italic;
        font-size: 1.1rem;
        text-align: start;
    }
}
/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* SECTION 0 : PRESENTATION COLLABORATEURS */
    .site__partner {
        width: 350px;
        /* Titre collaborateur */
        & .collaborateurs__titre {
            margin: 0;
            @include row_center();
        }
        /* Card collaborateur */
        & .collaborateur {
            padding: 3rem 0;
            width: 300px;
            margin: auto;
            /* Bloc image */
            & .collaborateur__img {
                @include row();
                justify-content: center;
            }
            /* Bloc texte */
            & .collaborateur__txt {
                text-align: center;
                & h4 {
                    padding-top: 1.5rem;
                }
            }
            /* Contenu en savoir plus */
            & .more__collaborateur p {
                text-align: start;
            }
        }
        /* Dernier collaborateur */
        & .collaborateur__last {
            padding-bottom: 0rem;
        }
    }
}