/* VERSION DESKTOP & STYLE GÉNÉRAL */
    /* PAGE PRODUIT */
    .site__product {
        max-width: 830px;
        margin-top: 12rem;
        /* TITRE */
        & .shop__titre {
            margin-left: 0;
            margin-bottom: 2rem!important;
        }
        /* BLOC DESCRIPTION */
        & .bloc__description {
            & h2 {
                font-size: 1rem;
                font-weight: $normal-weight;
                font-style: italic;
                text-decoration: underline;
            }
            & p {
                font-size: 0.9rem;
                max-width: 85%;
            }
        }
        & #tab-description {
            & p::first-line {
                font-weight: $semibold-weight;
            }
            & p:nth-child(3)::first-line {
                text-decoration: underline;
                font-style: italic;
                font-size: 1rem;
                font-weight: $normal-weight;
            }
            & p:nth-child(2)::first-line {
                font-weight: $normal-weight;
            }
        }
        /* DESCRIPTION DU PRODUIT */
        & .product__description {
            /* BLOC IMAGE */
            & .bloc__img {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
                position: relative;
                height:10%;
                /* BOUTON PANIER - CROWNFOUNDING */
                & .shop__panier {
                    background-color: $color-primary;
                    padding: 0.8rem;
                    width: nth($width, 1);
                    @include row_center();
                    position: absolute;
                    bottom: 1rem;
                    right: 2rem;
                    & a {
                        @include row_center();
                        // & ion-icon {
                        //     color: $color-base-background;
                        //     font-size: 1.5rem;
                        // }
                        & img {
                            width: 1.5rem;
                        }
                    }
                    & a::before{
                        content:'Voir sur Ulule';
                        color: $color-base-background;
                        font-size: 1.2rem;
                        font-weight: $semibold-weight;
                        opacity: 0;
                        transition: all .2s ease 0s;
                        position: absolute;
                    }
                }
                & .shop__panier:hover{
                    cursor: pointer;
                    padding-top: 2.2rem;
                    width: 88%;
                    & a::before {
                        left: 2.5rem;
                        bottom: 0.75rem;
                        opacity: 1;
                        cursor: pointer;
                    }
                    & img {
                        width: 1.5rem;
                        position: absolute;
                        right: 2.5rem;
                        bottom: .75rem;
                    }
                }
            }
            & .card__description {
                flex: 0 0 66.6666666667%;
                max-width: 66.6666666667%;
                & h6 {
                    text-decoration: underline;
                }
            }
            & .bloc__img, .card__description {
                margin-bottom: 2.5rem;
            }
            & .card__description {
                & .price {
                    font-style: italic;
                }
            }
        }
        & .related {
            position: relative;
            & .slider__product .card__shop {
                & a {
                    @include column_center();
                }
                & h2 {
                    margin: .9rem;
                    min-height: 60px;
                    font-size: 1.2rem;
                }
                & .price {
                    color: $color-base;
                    font-style: italic;
                }
                & .shop__panier:hover {
                    & a::before {
                        left: 1rem;
                        top: -1.8rem;
                        opacity: 1;
                    }
                    & img {
                        min-width: 2rem;
                        height: auto;
                        position: absolute;
                        right: 1.5rem;
                        bottom: -0.2rem;
                        width: 2rem;
                    }
                }
            }
            & .slider__product .card__shop:hover {
                & .shop__panier {
                    bottom: 33.8%;
                }
            }
            & h2 {
                margin-bottom: 2.5rem;
            }
        }
        & .products {
            width:100%;
            margin: 0;
            & .slider__wrapper {
                width: 100%;
                flex-wrap: nowrap;
                height: 100%;
                & .owl-stage {
                    width: 6000px !important;
                }
                /* BOUTON PRÉCEDENT & SUIVANT */
                & .owl-nav .owl-prev, .owl-nav .owl-next {
                    position: absolute;
                    top: 18%;
                    left: -5.5%;
                    color: $color-base !important;
                    font-size: 500% !important;
                    margin-right: 1rem;
                }
                /* BOUTON SUIVANT */
                & .owl-nav .owl-next {
                    left: 100%;
                    margin-left: 1rem;
                }
                /* CARD SHOP */
                & .card__shop {
                    max-width: 260px;
                    /* BOUTON PANIER */
                    & .shop__panier {
                        background-color: $color-primary;
                        padding: 0.8rem;
                        width: nth($width, 1);
                        @include row_center();
                        position: absolute;
                        bottom: 32.2%;
                        right: 5.9%;
                        & a {
                            @include row_center();
                            // & ion-icon {
                            //     color: $color-base-background;
                            //     font-size: 1.5rem;
                            // }
                            & img {
                                width: 70%;
                            }
                        }
                        & a::before{
                            content:'Voir sur Ulule';
                            color: $color-base-background;
                            font-size: 1.1rem;
                            font-weight: $semibold-weight;
                            opacity: 0;
                            transition: all .2s ease 0s;
                            position: absolute;
                        }
                    }
                    /* BOUTON PANIER */
                    & .shop__panier:hover {
                        padding-top: 2.5rem;
                        right: 6%;
                        width: 88%;
                        & a::before {
                            left: 3.5rem;
                            top: 0.5rem;
                            opacity: 1;
                        }
                        & img {
                            min-width: 2rem;
                            height: auto;
                            position: absolute;
                            right: 3.5rem;
                            bottom: 0.5rem;
                            width: 2rem;
                        }
                    }
                }
                & .card__shop:hover {
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 15px;
                    padding-bottom: 10px;
                    & .shop__panier {
                        bottom: 33.3%;
                    }
                }
                & #all-products{
                    & a {
                        border: solid 2px rgb(150, 150, 150);
                        @include row_center();
                        width: 218px;
                        height: 230px;
                        & i {
                            color: rgb(150, 150, 150);
                        }
                    }
                }
                & #all-products:hover {
                    border: none;
                    padding-top: 15px;
                    & a {
                        border: solid 2px $color-base;
                        & i {
                            color: $color-base;
                        }
                    }
                }
            }
        }
        & .slider__product .products .owl-nav button.disabled {
            & span {
                color: #cecece !important;
            }
        }
    }

/* VERSION MOBILE (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
{
    /* SECTION 0 : PRESENTATION COLLABORATEURS */
    .site__product {
        @include wrapper_mobile();
        padding: 0;
        margin-top: 8rem;
        & .shop__titre {
            margin-right: 0;
            justify-content: space-between;
            flex-direction: row;
        }
        & .product__description {
            flex-direction: column;
            & .bloc__img {
                min-width: 100%;
                & img {
                    width: 100%;
                    height: 100%;
                }
                & .shop__panier {
                    width: 100%;
                    bottom: 0;
                    right: 0;
                    height: 3.5rem;
                    & a {
                        padding-right: 3.3rem;
                        width: 100%;
                        justify-content: flex-end;
                        & img {
                            width: 2rem;
                            height: auto;
                        }
                    }
                    & a::before{
                        content:'Voir sur Ulule';
                        color: $color-base-background;
                        font-size: 1.4rem;
                        font-weight: $semibold-weight;
                        opacity: 1;
                        transition: all .2s ease 0s;
                        position: absolute;
                        width: auto;
                        left: 3rem;
                        top: 0.75rem;
                    }
                }
                & .shop__panier:hover {
                    width: 100%;
                    bottom: 0;
                    right: 0;
                    height: 3.5rem;
                    padding-top: 0.8rem;
                    & a::before {
                        left: 3rem;
                        bottom: 0.75rem;
                        width: auto;
                    }
                    & img {
                        width: 2rem;
                        right: 4.1rem;
                    }
                }
            }
            & .card__description {
                min-width: 100%;
                & p {
                    max-width: 100%;
                }
            }
        }
        & .related .products {
            margin: 0;
            & .owl-dots {
                @include row_center();
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                & .owl-dot {
                    background-color: black;
                    opacity: 0.5;
                    border-radius: 100%;
                    width:10px;
                    height: 10px;
                    margin: 0 0.3rem;
                }
                & .active {
                    opacity: 1;
                }
            }
            & .card__shop {
                max-width: 295px;
                padding: 0;
                & .shop__panier {
                    width: 100%;
                    bottom: 5.3rem;
                    right: 0rem;
                    justify-content: flex-end;
                    a {
                        width: 100%;
                        height: 1.5rem;
                        & img {
                            min-width: 2rem;
                            width: 2rem;
                            position: absolute;
                            right: 2rem;
                        }
                    }
                    & a::before {
                        content:'Voir sur Ulule';
                        color: $color-base-background;
                        font-size: 1.4rem;
                        font-weight: $semibold-weight;
                        position: absolute;
                        top: -0.25rem;
                        left: 2rem;
                        opacity: 1;
                    }
                }
                & .shop__panier:hover {
                    width: 100%;
                    padding-top: 0.8rem;
                    & a::before{
                        left: 2rem;
                        top: -0.25rem;
                        width: auto;
                    }
                    & img {
                        right: 2rem;
                        bottom: -0.25rem;
                    }
                }
            }
            & .card__shop:hover {
                padding: 0;
                border: none;
                & .shop__panier {
                    bottom: 23.5%;
                    right: 0%;
                }
            }
            & #all-products{
                & a {
                    width: 300px;
                    height: 280px;
                }
            }
        }
    }
}

/* VERSION TABLETTE (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE PRODUIT| SHOP */
    .site__product {
        @include wrapper_tablette();
        margin-bottom: 0;
        & .product__description {
            justify-content: space-between;
            & .card__description {
                flex: 0 0 55.666667%;
                min-width: 37%;
            }
            & .bloc__img {
                min-width: 44%;
                padding-right: 2rem;
                & img{
                    width: 100%;
                    height: auto;
                }
                & .shop__panier {
                    width: 88.5%;
                    bottom: 1rem;
                    right: 2rem;
                    padding: 0.8rem;
                    justify-content: flex-end;
                    a {
                        justify-content: flex-end;
                        padding-right: 1rem;
                        height: 1.5rem;
                        & img {
                            width: 2rem;
                        }
                    }
                    & a::before {
                        content:'Voir sur Ulule';
                        color: $color-base-background;
                        font-size: 1.4rem;
                        font-weight: $semibold-weight;
                        opacity: 1;
                        position: absolute;
                        left: 1.5rem;
                    }
                }
                & .shop__panier:hover {
                    padding-top: 0.8rem;
                    & img {
                        right: 1.95rem;
                        bottom: .6rem;
                        width: 2rem;
                    }
                    & a::before {
                        left: 1.5rem;
                        bottom: 0.5rem;
                    }
                }
            }
        }
        & .related .slider__product {
            margin: 0;
            & .owl-carousel {
                & #all-products{
                    & a {
                        border: solid 2px rgb(150, 150, 150);
                        @include row_center();
                        width: 270px;
                        height: 290px;
                        & i {
                            color: rgb(150, 150, 150);
                        }
                    }
                }
                & #all-products:hover {
                    border: none;
                    & a {
                        border: solid 2px $color-base;
                        & i {
                            color: $color-base;
                        }
                    }
                }
                & .owl-stage-outer {
                    margin: -1rem;
                }
                & .owl-dots {
                    @include row_center();
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;
                    & .owl-dot {
                        background-color: black;
                        opacity: 0.5;
                        border-radius: 100%;
                        width:10px;
                        height: 10px;
                        margin: 0 0.3rem;
                    }
                    & .active {
                        opacity: 1;
                    }
                }
            }
            & .card__shop {
                min-width: 320px;
                & .shop__panier {
                    width: 90%;
                    bottom: 7.2rem;
                    right: 1rem;
                    padding: 0.8rem;
                    justify-content: flex-end;
                    a {
                        width: 100%;
                        padding: 0.8rem;
                        & img {
                            min-width: 2rem;
                            width: 2rem;
                            position: absolute;
                            right: 2rem;
                        }
                    }
                    & a::before {
                        content:'Voir sur Ulule';
                        color: $color-base-background;
                        font-size: 1.4rem;
                        font-weight: $semibold-weight;
                        position: absolute;
                        top: -0.25rem;
                        left: 2rem;
                        opacity: 1;
                    }
                }
                & .shop__panier:hover {
                    padding-top: 0.8rem;
                    right: 1rem;
                    width: 90%;
                    & a::before {
                        left: 2rem;
                        top: -0.25rem;
                    }
                    & img {
                        min-width: 2rem;
                        right: 2rem;
                        top: -0.25rem;
                        width: 2rem;
                    }
                }
                & .woocommerce-loop-product__title {
                    padding-top: 0rem;
                    min-height: 65px;
                }
            }
            & .card__shop:hover {
                padding-top: 0;
                border: none;
                width: 90.5%;
                & .shop__panier {
                    bottom: 22.3%;
                }
            }
        }
    }

}