.site__project, .project__presentation__formes {
    margin: 2rem 0;
}

.project__intro, .project__presentation__formes {
    max-width: 890px;
    margin: auto;
}

.project__bloc__txt {
    & h2 {
        margin-bottom: 1.5rem;
    }
    & p {
        max-width: 350px;
    }
    & span {
        font-weight: $semibold-weight;
    }
}

.project__bloc__img {
    @include row_center();
}

.project__presentation {
    background-color: $color-primary;
    margin-top: 4rem;
    position: relative;
}

.project__presentation__formes{
    padding: 4rem 0;
    & .forme__left {
        position:absolute;
        bottom: 22%;
        left: -3%;
    }
    & .forme__right {
        position: absolute;
        top: 20%;
        right: -4%;
    }
}

.site__project .collaborateurs {
    height: 600px;
}

.site__project .collaborateur {
    border-bottom: none;
    padding: 3rem 0;
}

.project__presentation__illustration {
    padding: 1.2rem 0;
}

.illustration__txt__right, .illustration__txt__left {
    @include column_center();
    align-items: flex-start;
    color: $color-base-background;
    & h3 {
        @include h3($semibold-weight);
        padding-bottom: 1rem;
    }
    & p {
        max-width: 350px;
        font-weight: $thin-weight;
    }
    & span {
        font-weight: $semibold-weight;
    }

}

.illustration__img__left, .illustration__img__right {
    @include row_center();
}

.documents {
    max-width: 890px;
    height: 400px;
    @include column();
    justify-content: center;
}

.liste__documents {
    max-width: 890px;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    & .document {
        @include column_center();
        justify-content: flex-start;
    }
}

.document__txt {
    @include column();
    text-align: center;
    padding-top: 2rem;
    & h4 {
        font-size: nth($font-size, 2);
        font-weight: $semibold-weight;
    }
    & p {
        font-size: nth($font-size, 2);
        font-weight: $normal-weight;
    }
}