/* PAGE DOCUMENT */
.site__document {
    @include wrapper();
    /* TITRE DOCUMENT */
    & .document__titre {
        margin: 0;
        justify-content: space-between;
    }
    /* NAVIGATION DOCUMENT */
    & .document__navigation {
        width: 10%;
        margin: 0;
        justify-content: space-between;
        /* NAV */
        & .nav {
            border: solid 1px $color-base;
            padding: 5px 10px;
            & a {
                color: $color-base;
            }
        }
        & .nav:hover {
            border: none;
            background-color: $color-primary;
            padding: 6px 11px;
            & a { 
                color: $color-base-background;
            }
        }
    }
    /* DESCRIPTION DOCUMENT */
    & .document__description {
        @include row();
        margin: 2.5rem 0;
        /* IMAGE DU DOCUMENT */
        & .document__image {
            padding: 0;
            & img {
                width: 100%;
            }
        }
        /* TEXTE DU DOCUMENT */
        & .document__txt {
            padding: 0 45px;
            /* NUMERO */
            & .numero__document {
                margin-bottom: 0;
            }
            /* TITRE */
            & h2 {
                margin: 0;
            }
            /* AUTEUR */
            & .auteur {
                text-decoration: none;
                font-weight: $black-weight;
            }
            /* RESUME DATE ET NUMERO */
            & .resume, .date, .numero__document {
                font-style: italic;
            }
            /* RESUME */
            & .resume {
                text-decoration: underline;
            }
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* PAGE DOCUMENT */
    .site__document {
        @include wrapper_mobile();
        /* TITRE DOCUMENT */
        & .document__titre {
            align-items: center;
            /* TITRE */
            & h2 {
                width: 60%;
            }
            /* NAVIGATION DOCUMENT */
            & .document__navigation {
                width: 25%;
                height: 25%;
            }
        }
        /* DESCRIPTION DOCUMENT */
        & .document__description {
            flex-direction: column;
            /* TEXTE DOCUMENT */
            & .document__txt {
                padding: 0;
                padding-top: 2rem;
                /* DESCRIPTION */
                & .description {
                    width: 100%;
                }
                /* BOUTON DE REDIRECTION */ 
                & .btn_redirection {
                    justify-content: center;
                    display: flex;
                }
            }
        }
    }
}

/* TABLETTE (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE DOCUMENT */
    .site__document {
        @include wrapper_tablette();
        /* NAVIGATION DOCUMENT */
        & .document__navigation {
            width: 12%;
        }
        /* DESCRIPTION DOCUMENT */
        & .document__description {
            /* TEXTE DOCUMENT */
            & .document__txt {
                padding-right: 0;
            }
        }
    }
}