/* GÉNÉRAL */
#slider__shop{
    & .products {
        margin: 0;
    }
    & #all-products{
        & a {
            border: solid 2px rgb(150, 150, 150);
            @include row_center();
            width: 218px;
            height: 230px;
            & i {
                color: rgb(150, 150, 150);
            }
        }
    }
    & #all-products:hover {
        border: none;
        padding-top: 15px;
        & a {
            border: solid 2px $color-base;
            & i {
                color: $color-base;
            }
        }
    }
}
.card__shop {
    min-height: 362px;
    padding-top: 15px;
    /* Images */
    & img {
        min-width: 100%;
        height: auto;
    }
    /* Titres */
    & .woocommerce-loop-product__title {
        font-size: 1.1rem;
        text-align: center;
        padding-top: 1rem;
    }
    /* Titres soulignés*/
    & a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    /* Prix */
    & .price {
        color: $color-base;
        justify-content: center;
        display: flex;
        font-style: italic;
        font-size: 0.9rem;
    }
    /* Panier */
    & .shop__panier {
        background-color: $color-primary;
        color: $color-base-background;
        padding: 0.8rem;
        width: 18%;
        @include row_center();
        position: absolute;
        bottom: 24.8%;
        right: 5.2%;
        & a {
            @include row_center();
            justify-content: start;
            width: 100%;
            position: relative;
            & ion-icon {
                color: $color-base-background;
                font-size: 1.5rem;
                position: absolute;
                right: 0;
                width:100%;
            }
        }
        & img {
            width: 70%;
        }
    }
    & .shop__panier a:before{
        content:'Voir sur Ulule';
        color: $color-base-background;
        font-size: 1.1rem;
        font-weight: $semibold-weight;
        opacity: 0;
        transition: all .2s ease 0s;
        position: absolute;
    }
    & .shop__panier:hover{
        cursor: pointer;
        padding-top: 2.5rem;
        width: 91.3%;
        & a::before {
            left: 1rem;
            bottom: 0;
            opacity: 1;
            cursor: pointer;
        }
        & img {
            width: 1.6rem;
            min-width: 0.5rem;
            position: absolute;
            right: 1rem;
            bottom: 0;
        }
    }
    & .shop__panier:hover a ion-icon {
        left: 40%;
        cursor: pointer;
    }
    & span.type {
        display: none;
    }
}

.card__shop:hover {
    border: solid 0.2rem $color-base;
    padding: 12px;
    cursor: pointer;
    & .shop__panier {
        right: 4.5%;
    }
}

/* PAGE SHOP */
.site__shop, .site__product {
    max-width: 830px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0;
    & .shop__titre {
        margin-left: 0rem;
        @include row();
        justify-content: space-between;
        margin-bottom: 1rem;
        & h2 {
            margin: 0;
        }
        & button {
            display: none;
            padding: 5px 15px;
            a {
                display: flex;
                & ion-icon {
                    font-size: 1.5rem;
                    padding-right: 0.5rem;
                }
            }
        }
        & button:hover {
            padding: 7px 15px;
            background-color: $color-primary;
            border: none; 
            cursor: pointer;
            & a, ion-icon {
                color: $color-base-background;
            }
        }
    }
    & .filtreType {
        @include row();
        & h5 { 
            display: none;
            margin-right: 1rem;
        }
        & button {
            border: none;
            background-color: #0000;
            height: 20px;
            @include row_center();
            & ion-icon {
                padding-right: 0.5rem;
            }
        }
        & button:hover, p span:hover{
            color: $color-primary;
            $font-weight: $semibold-weight;
            cursor: pointer;
            & ion-icon{
                color: $color-base;
            }
        }
        & p {
            @include row_center();
            & input {
                margin-right: 0.5rem;
                margin-left: 1rem;
            }
        }
    }
    .filtre, .modal-content {
        padding: 2rem 4rem !important;
        border-radius: .4rem;
        border:none;
        & h5 {
            text-align: start;
        }
        & input {
            margin-right: 0.5rem;
        }
        & button {
            text-align: end;
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    .site__shop {
        @include wrapper_mobile();
        margin-top: 8rem;
        padding: 0;
        & .products {
            justify-content: center;
            & .owl-carousel {
                & .owl-dots {
                    @include row_center();
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;
                    & .owl-dot {
                        background-color: black;
                        opacity: 0.5;
                        border-radius: 100%;
                        width:10px;
                        height: 10px;
                        margin: 0 0.3rem;
                    }
                    & .active {
                        opacity: 1;
                    }
                }
            }
            /* CARD SHOP */
            & .card__shop {
                width: 100%;
                min-width: 100%;
                padding: 0;
                min-height: 450px;
                & h2 {
                    font-size: 1.5rem;
                    padding-top: 2rem;
                }
                & .price {
                    font-size: 1.3rem;
                }
                /* BOUTON PANIER */
                & .shop__panier {
                    width: 100%;
                    bottom: 7.5rem;
                    right: 0;
                    padding: 1.8rem;
                    justify-content: flex-end;
                    a {
                        padding-right: 1.5rem;
                        & img {
                            width: 2rem;
                            min-width: 2rem;
                            position: absolute;
                            right: 2rem;
                        }
                    }
                    & a::before {
                        content: "Voir sur Ulule";
                        color: #fafafa;
                        font-size: 1.4rem;
                        font-weight: 600;
                        position: absolute;
                        top: -1rem;
                        left: 2rem;
                        opacity: 1;
                    }
                }
            }
            & .card__shop:hover {
                padding: 0;
                border: none;
                & .shop__panier {
                    bottom: 33.3%;
                }
            }
        }
        & .filtreType {
            padding-bottom: 2rem;
            & p {
                display: none;
            }
        }
    }
}

/* VERSION TABLETTE (portrait & landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* PAGE PRODUIT| SHOP */
    .site__shop {
        @include wrapper_tablette();
        margin-bottom: 0;
        &
        & .card__shop {
            min-height: 320px;
            & img {
                width: 100%;
            }
            & .shop__panier {
                width: 86%;
                bottom: 7rem;
                right: 0.9rem;
                padding: 1.5rem;
                justify-content: flex-end;
                a {
                    padding-right: 1.5rem;
                    & img {
                        width: 1.8rem;
                        min-width: 1.8rem;
                        position: absolute;
                        right: -0.5rem;
                    }
                }
                & a::before {
                    content: "Voir sur Ulule";
                    color: #fafafa;
                    font-size: 1rem;
                    font-weight: 600;
                    position: absolute;
                    top: -0.8rem;
                    left: -0.5rem;
                    opacity: 1;
                }
            }
        }
        & .card__shop:hover {
            padding: 0;
            border: none;
            & .shop__panier {
                bottom: 33.3%;
            }
        }
    }
}