.site__home {
    /* SLIDER SHOP */
    & .shop {
        /* SLIDER */
        & .slider__wrapper {
            width: 100%;
            flex-wrap: nowrap;
            margin-left: 3rem;
            height: 100%;
            & .owl-stage {
                width: 6000px !important;
                & .owl-item {
                    width: 250px !important;
                }
            }
            /* BOUTON PRÉCEDENT & SUIVANT */
            & .owl-nav .owl-prev, .owl-nav .owl-next {
                position: absolute;
                top: 18%;
                left: -5.5%;
                color: $color-base !important;
                font-size: 500% !important;
                margin-right: 1rem;
            }
            /* BOUTON SUIVANT */
            & .owl-nav .owl-next {
                left: 100%;
                margin-left: 1rem;
            }
            & .owl-nav .owl-prev span{
                color: #cecece;
            }
            /* CARD SHOP */
            & .card__shop {
                max-width: 260px;
                /* BOUTON PANIER */
                & .shop__panier {
                    bottom: 35%;
                    right: 6%;
                }
            }
            /* CARD SHOP :HOVER */
            & .card__shop:hover {
                /* BOUTON PANIER */
                & .shop__panier {
                    right: 5%;
                }
            }
        }
    }
}