/* FOOTER */

/* SECTION 1 : CONTACTEZ NOUS */
.contact {
    // background-image: url("assets/images/04_fonds/contact_trait.png");
    // background-repeat: no-repeat;
    // background-position: center;
    height: 250px;
}
    /* Bloc contact */
    .bloc__contact {
        @include column_center();
        height: nth($height, 5);
        position: relative;
        /* Forme Left */
        & .forme__left {
            position: absolute;
        }
        /* Forme right */
        & .forme__right {
            position: absolute;
        }
        & p {
            font-size: nth($font-size, 3);
        }
        & button a {
            font-size: nth($font-size, 4);
            & i {
                font-size: nth($font-size, 2);
            }
        }
    }
/* SECTION 2 : NEWSLETTER */
.newsletter {
    background-color: $color-fourth;
    color: $color-base-background;
    height: 380px;
    @include column();
    justify-content: center;
    /* Formulaire newsletter */
    & .form__news {
        @include column_center();
        & form {
            @include column_center;
            /* Texte */
            & label {
                margin-bottom: 1rem;
            }
            & .form__news__input {
                @include row_center();
                /* Adresse mail */
                & .newsletter__input {
                    background-color: $color-input;
                    border: $border-none;
                    width: 300px;
                    padding: 0.2rem 1rem;
                }
                    & input::placeholder {
                        @include placeholder($color-base-background);
                    }
                /* Bouton envoyé */
                & .btn_envoyer {
                    border: $border-none;
                    background-color: $color-secondly;
                    color: $color-base-background;
                    font-weight: $semibold-weight;
                    padding: 0.2rem 1rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }           
}
    /* Ligne */
    .newsletter__ligne {
        @include row_center();
        & hr {
            border-top: 1.5px solid $color-base-background;
            width: nth($width, 1);
        }
    }
    /* Mentions */
    .mentions {
        @include column_center();
        & p {
            text-align: center;
            font-weight: $normal-weight;
            font-size: nth($font-size, 1);
        }
        & img {
            margin-bottom: 1rem;
            margin-top: 2rem;
        }
    }
    /* Mentions politique */
    .mentions__politique {
        & ul {
            list-style-type: none;
            @include row_center();
            & li a {
                color: $color-base-background;
                font-size: nth($font-size, 1);
                padding: 0 1rem;
                opacity: 0.5;
            }
        }
    }

/* DESKTOP AND LAPTOPS */
@media only screen and (min-width : 1224px) {
    /* SECTION 1 : CONTACTEZ NOUS */
    /* Bloc contact */
    .bloc__contact {
        /* Forme Left */
        & .forme__left {
            top: 20%;
            left: 15%;
        }
        /* Forme right */
        & .forme__right {
            top: 40%;
            right: 15%;
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* SECTION 1 : CONTACTEZ NOUS */
    .contact {
        padding: 0;
        height: 200px;
        /* Bloc contact */
        & .bloc__contact {
            /* Forme left */
            & .forme__left {
            top: 27%;
            left: -7%;
            }
            /* Forme right */
            & .forme__right {
                top: 47%;
                right: -24%;
            }
            & img {
                width: 60%;
            }
            & p {
                font-size: 0.9rem;
            }
        }
    }
    /* SECTION 2 : NEWSLETTER */
    .newsletter {
        & .form__news__input {
            width: 360px;
        }
        /* Adresse mail */
        & .newsletter__input {
            width: 200px;
        }
        /* Ligne */
        & .newsletter__ligne hr {
            width: 43%;
        }
        /* Mentions et politique */
        & .mentions p, .mentions li a {
            font-size: 0.7rem;
        }
    }
}