/* FOOTER */
.site__footer {
    /* CONTACTEZ-NOUS */
    & .contact {
        height: 250px;
        /* BLOC CONTACT */
        .bloc__contact {
            @include column_center();
            height: nth($height, 5);
            position: relative;
            /* FORMES */
            & .forme {
                position: absolute;
            }
            & p {
                font-size: nth($font-size, 3);
            }
            /* BOUTON DE REDIRECTION */
            & button a {
                font-size: nth($font-size, 4);
                & i {
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
    /* NEWSLETTER */
    & .newsletter {
        background-color: $color-fourth;
        color: $color-base-background;
        height: 380px;
        @include column_center();
        /* FORMULAIRE NEWSLETTER */
        & .form__news {
            @include column_center();
            & label {
                font-size: 1.1rem;
            }
            & .mailjet_widget_front_container {
                margin-bottom: 0;
            }
            /* FORMULAIRE MAILJET */
            & form {
                @include row_center();
                & .mailjet-widget-form-group {
                    margin-bottom: 0;
                }
                /* ADRESSE MAIL ET BOUTON ENVOYÉ */
                & input[type=email], input[type=submit]{
                    border: $border-none;
                    border-radius: 6px;
                } 
                /* ADRESSE EMAIL */
                & input[type=email] {
                    background-color: #efefef63;
                    width: 350px;
                    padding: 0.3rem 1.5rem;
                }
                /* PLACEHOLDER */
                & input::placeholder {
                    @include placeholder($color-base-background);
                }
                /* Bouton envoyé */
                & input[type=submit] {
                    background-color: $color-secondly;
                    color: $color-base-background;
                    font-weight: $semibold-weight;
                    padding: 0.3rem 1rem;
                    margin-left: 0.5rem;
                    width: 130px;
                }
                & input[type=submit]:hover {
                    background-color: $color-base-background;
                    color: $color-fourth;
                }
            }
        } 
        /* MENTIONS */
        & .mentions {
            @include column_center();
            & p {
                text-align: center;
                font-weight: $normal-weight;
                font-size: nth($font-size, 1);
            }
            & img {
                margin-bottom: 1rem;
                margin-top: 2rem;
            }
        }
        /* MENTIONS ET POLITIQUE DE CONFIDENTIALITE */
        .mentions__politique {
            & ul {
                list-style-type: none;
                @include row_center();
                & li a {
                    color: $color-base-background;
                    font-size: nth($font-size, 1);
                    padding: 0 1rem;
                    opacity: 0.5;
                }
                & li a:hover {
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }          
    } 
}

/* DESKTOP AND LAPTOPS */
@media only screen and (min-width : 1224px) {
    /* FOOTER */
    .site__footer {
        /* CONTACTEZ NOUS */
        .bloc__contact {
            /* FORME LEFT */
            & .forme__left {
                top: 20%;
                left: 15%;
            }
            /* FORME RIGHT */
            & .forme__right {
                top: 40%;
                right: 15%;
            }
        }
    }
}

/* MOBILE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    /* FOOTER */
    .site__footer {
        /* CONTACTEZ-NOUS */
        .contact {
            height: 200px;
            /* BLOC CONTACT */
            & .bloc__contact {
                /* FORME LEFT */
                & .forme__left {
                    top: 13%;
                    left: -7%;
                }
                /* FORME RIGHT */
                & .forme__right {
                    top: 63%;
                    right: -20%;
                }
                & img {
                    width: 50%;
                }
                & p {
                    font-size: 0.9rem;
                }
            }
        }
        /* SECTION : NEWSLETTER */
        & .newsletter {
            & .form__news {
                & .mailjet_widget_front_container {
                    margin-right: 0;
                }
                & form {
                    /* ADRESSE EMAIL */
                    & input[type=email] {
                        width: 175px;
                    }
                    /* BOUTON ENVOYÉ */
                    & input[type=submit] {
                        width: 105px;
                    }
                }
            }
            /* MENTIONS */
            & .mentions {
                margin-right: 0;
                & p, .mentions li a {
                    font-size: 0.7rem;
                }
            }
            & .mentions__politique ul li a {
                font-size: 0.7rem;
            }
        }
    }
}
/* TABLETTE (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* FOOTER */
    .site__footer .contact .bloc__contact {
        & .forme {
            & img {
                width: 70%;
            }
        }
        & .forme__left {
            left: 10%;
            top: 10%;
        }
        & .forme__right {
            right: 5%;
            top: 40%;
        }
    }
}