/* BOUTONS */

.home__bloc__txt button {
    @include btn_redirection($color-base-background);
}

.shop__titre button {
    @include btn_redirection();
}

.collaborateurs__titre button {
    @include btn_redirection();
}

.document__description button {
    @include btn_redirection();
    margin-top: 2rem;
}

.contact button {
    @include btn_redirection();
}

.btn_redirection button:hover {
    border: none;
    background-color: $color-secondly;
    padding: 7px 25px;
    & a {
        color: $color-base-background;
    }
}

.home__bloc__txt button:hover {
    background-color: $color-base-background;
    & a {
        color: $color-secondly;
    }
}