@font-face{ 
	font-family: 'Neris';
	src: url('assets/sass/base/Neris-Black-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-BlackItalic-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-Bold-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-BoldItalic-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-Light-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-LightItalic-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-SemiBold-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-SemiBoldItalic-webfont.woff') format('woff');
	src: url('assets/sass/base/Neris-Thin-webfont.woff') format('woff');
}