@font-face{ 
	font-family: 'Neris';
	src: url('neris.eot');
	src: url('neris.eot?iefix') format('eot'),
	     url('neris.woff') format('woff'),
	     url('neris.ttf') format('truetype'),
	     url('neris.svg#neris') format('svg');
}